{% extends "base.html" %}
{% block title %} Afficher COMPUTERS {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div style="display: flex; flex-direction: row; align-items: center;">
				<p style="width: 50%;">
					Computers
				</p>
			</div>
            <table class="table table-bordered table-sm" style="--bs-body-bg: none;">
            {% if data %}
                <thead style="border-bottom: solid 1px #fff;">
                    <tr>
                        <th class="align-middle">
                            Id
                        </th>
                        <th class="align-middle">
                            comHostname
                        </th>
                        <th class="align-middle">
							comIPAddress
							<th class="align-middle">
                            comOS
                        </th>
						<th class="align-middle">
                            comProcessor
                        </th>
						<th class="align-middle">
                            comRAM
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.idComputer}}
						</td>
						<td class="align-middle">
							{{ row.comHostname }}
					 </td>
						<td class="align-middle">
							{{ row.comIPAddress }}
						</td>
						<td class="align-middle">
							{{ row.comOS }}
						</td>
						<td class="align-middle">
							{{ row.comProcessor }}
						</td>
						<td class="align-middle">
							{{ row.comRAM }}
						</td>
						<td class="text-center" style="text-align: end !important;">
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" style="text-align: end !important;">
							<a class="btn btn-warning" href="{{ url_for('genre_update_wtf', id_genre_btn_edit_html=row.id_computer) }}" role="button">Edit</a>
						</td>
						<td class="text-center" style="text-align: end !important;">
							<a class="btn btn-danger" href="{{ url_for('genre_delete_wtf', id_genre_btn_delete_html=row.id_computer) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun computer.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

